<p id="notice"><%= notice %></p>

<h1>Prodotti</h1>

<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Foto</th>
      <th scope="col">Nome</th>
      <th scope="col">Ingredienti</th>
      <th scope="col">Peso</th>
      <th scope="col">Prezzo al kg</th>
    </tr>
  </thead>
  <tbody>
  <% @products.each do |product| %> 
    <tr>
      <td>
        <% if product.cover.attached? %>
        <%= link_to (image_tag url_for(product.cover),class: 'w-50 quad'), product %>
        <% end %>
      </td>
    
      <td><%= product.nome %></td>
    
      <td><%= product.ingredienti %></td>

      <td><%= product.peso %> Gr.</td>
      
      <td><%= product.prezzokg %> €</td>
    
      <td><%= link_to 'Modifica', edit_product_path(product), class: 'btn btn-primary' %></td>  
    
      <td><%= link_to 'Distruggi', product, method: :delete, data: { confirm: 'Sei sicuro?' }, class: 'btn btn-danger' %></td>  

      </tr>
    <% end %>  
  </tbody>
</table>

<%= link_to 'Nuovo prodotto', new_product_path , class: 'btn btn-primary'%>
