<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.nome %>
</p>

<p>
  <strong>Descrizione:</strong>
  <%= @product.descrizione %>
</p>

<p>
  <strong>Ingredienti:</strong>
  <%= @product.ingredienti %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @product.peso %>
</p>

<p>
  <strong>Prezzokg:</strong>
  <%= @product.prezzokg %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
