<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <% if @product.cover.attached? %>
          <%= image_tag url_for(@product.cover)%>
    <% end %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= @product.nome %>
  </p>

  <p>
    <strong>Descrizione:</strong>
    <%= @product.descrizione %>
  </p>

  <p>
    <strong>Ingredienti:</strong>
    <%= @product.ingredienti %>
  </p>

  <p>
    <strong>Peso:</strong>
    <%= @product.peso %>
  </p>

  <p>
    <strong>Prezzokg:</strong>
    <%= @product.prezzokg %>
  </p>
</div>


<%= link_to 'Modifica', edit_product_path(@product), class: 'btn btn-primary' %> |
<%= link_to 'indietro', products_path, class: 'btn btn-primary'%>
